@model SnippetAssistant.Python.PythonSummary

<div class="p-5 mb-4 bg-dark rounded-3" style="height: 300px">
    <div class="container-fluid py-5" style="position: relative">
        <div style="position: absolute; left:  4.25rem; width: 100%;">
            <h1 class="display-5 fw-bold">Code Report</h1> 
            <p class="col-md-8 fs-4">Total of @Model.MessageCount suggestions/errors found</p>
        </div>
        
        <div style="position: absolute; right:  4rem; top:  48px;">
            <img class="icon-27yU2q" src="https://cdn.discordapp.com/icons/618254766396538901/4813168d6c773e84b60fe2405ddb8c65.webp?size=128" alt="" width="128" height="128" aria-hidden="true">
        </div>
    </div>
</div>